* {
  font-family: system-ui;
  font-size: 1em;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.header {
  background-color: rgb(248, 248, 248);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -8px;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 5px;
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.left-section div {
  font-weight: 600;
  font-size: 1.1em;
}

.right-section {
  margin-left: 5px;
  display: flex;
  column-gap: 2px;
}

.menu-icon,
.search-icon {
  height: 35px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 2px;
  border-radius: 3px;
}

.menu-icon:hover,
.search-icon:hover {
  border: 1px solid rgb(95, 95, 95);
  background-color: rgb(231, 231, 231);
}

.sea-logo {
  height: 55px;
}

.more-pages {
  margin-top: -150px;
  margin-right: -8px;
  padding: 5px;
  padding-left: 20px;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
  font-weight: 600;
  border-bottom: 1px solid rgb(221, 221, 221);
  z-index: 0;
  transition: margin-top 0.35s ease;
}

.more-pages-active {
  margin-top: 8px;
}

@media (max-width: 600px) {
  .more-pages {
    margin-left: -8px;
  }
}

@media (min-width: 601px){
  .more-pages {
    margin-left: 60%;
  }
}

@keyframes slideFromTop {
  from {
    margin-top: -70px;
  }
  to {
    margin-top: 8px
  }
}

.more-pages div {
  border: 1px solid rgba(167, 167, 167, 0);
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.more-pages div:hover {
  border: 1px solid rgb(167, 167, 167);
}

.search-container {
  position: absolute;
  top: -8px;
  left: -8px;
  right: 82px;
  z-index: 150;
  background-color: rgba(255, 255, 255, 0.253);
  height: 65px;
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
}

.search-input {
  margin: 0 10px;
  flex: 1;
  max-width: 600px;
  height: 30px;
  border: 2px solid rgb(0, 53, 226);
  border-radius: 20px;
  padding-left: 15px;
  background-color: transparent;
}

.container {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 550px) {
  .container {
    width: 450px;
  }
}

@media (min-width: 700px) {
  .container {
    width: 550px;
  }
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 20px;
}

.current-page {
  margin-bottom: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar-container {
  height: 17px;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 10px;
}

.progress-bar {
  background-color: rgb(74, 118, 168);
  border-right: 1px solid rgb(61, 61, 61);
  height: 17px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.app-display {
  display: grid;
  row-gap: 20px;
  position: relative;
}

.question-container {
  display: grid;
  row-gap: 5px;
}

.choice-container {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.question {
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 5px;
  align-items: center;
}

.number {
  background-color: black;
  color: white;
  font-weight: 600;
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.choice-container {
  border: 1px solid rgb(187, 187, 187);
  padding: 10px;
  max-width: 600px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(3, 3, 3, 0.055);
}

.choice-container-chosen {
  border: 1px solid rgb(0, 47, 255);
}

.next-button,
.finish-button,
.back-to-results-btn,
.button {
  padding: 5px 20px;
  border: none;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.15s;
}

a {
  text-decoration: none;
}

.button {
  padding: 10px 40px;
}

.next-button:hover,
.button:hover {
  opacity: 0.75;
}

.back-to-results-btn:hover {
  opacity: 0.75;
}

.radio-button {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.error-message {
  font-weight: 600;
  display: none;
  color: rgb(184, 12, 12);
  align-items: center;
  column-gap: 5px;
}

.error-icon {
  height: 25px;
}

.complete-message {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.complete-container {
  animation: appear 1s ease;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scores,
.your-level {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 5px;
}

.review-button,
.reset-button,
.stop-button {
  margin-top: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
}

.review-button:hover,
.reset-button:hover,
.stop-button:hover {
  opacity: 0.75;
}

.correct-icon,
.incorrect-icon {
  height: 25px;
}

.correct-border {
  border: 1.5px solid rgb(0, 189, 47);
  color: rgb(0, 189, 47);
  box-shadow: 0 0 3px rgba(3, 3, 3, 0.281);
}

.incorrect-border {
  border: 1.5px solid rgb(223, 0, 0);
  color: rgb(223, 0, 0);
  box-shadow: 0 0 3px rgba(3, 3, 3, 0.281);
}

.correct-number {
  background-color: rgb(0, 189, 47);
}

.incorrect-number {
  background-color: rgb(223, 0, 0);
}

.correct-text {
  color: rgb(0, 224, 56);
  font-weight: 600;
  font-size: 0.9em;
}

.incorrect-text {
  color: rgb(212, 17, 17);
  font-weight: 600;
  font-size: 0.9em;
}

.footer {
  background-color: rgb(248, 248, 248);
  border-top: 1px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: -8px;
  margin-top: auto;
}

.fb-link {
  color: rgb(0, 0, 255);
  font-weight: 600;
}

.auto-scroll-buttons {
  position: fixed;
  border-radius: 25px;
  border: none;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.75;
}

.to-bottom-button {
  right: 0;
  top: 30%;
}

.to-top-button {
  left: 0;
  top: 50%;
}

.auto-scroll-buttons:hover {
  opacity: 1;
}

.arrow-icon {
  height: 40px;
}

.confirm-dialogue {
  position: fixed;
  background-color: rgba(12, 12, 12, 0.192);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appear 0.5s ease;
  z-index: 200;
}

.confirm-message {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 250px;
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
  font-weight: 600;
  border: 1px solid rgb(145, 145, 145);
}

.confirm-buttons {
  display: flex;
  column-gap: 10px;
}

.js-yes-button,
.js-no-button {
  background-color: black;
  color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
}
