* {
  font-family: system-ui;
  font-size: 1em;
}

.header {
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  margin: -10px;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 5px;
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.left-section div {
  font-weight: 600;
  font-size: 1.1em;
}

.sea-logo {
  height: 55px;
}

.container {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 20px;
}

.current-page {
  margin-bottom: 20px;
  font-weight: 600;
}

.all-questions-container {
  display: grid;
  row-gap: 10px;
}

.question-container {
  display: grid;
  row-gap: 5px;
}

.choice-container {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.question {
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 5px;
  align-items: center;
}

.number {
  background-color: black;
  color: white;
  font-weight: 600;
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.choice-container {
  border: 1px solid rgb(187, 187, 187);
  padding: 10px;
  max-width: 600px;
  border-radius: 7px;
  cursor: pointer;
}

.next-button,
.finish-button {
  padding: 5px 20px;
  border: none;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.15s;
  margin-top: 10px;
}

.next-button:hover {
  opacity: 0.75;
}

.radio-button {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.error-message {
  margin: 5px 0;
  font-weight: 600;
  display: none;
}

.complete-message {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.scores,
.your-level {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 5px;
}

.review-button,
.reset-button {
  margin-top: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
}

.review-button:hover,
.reset-button:hover {
  opacity: 0.75;
}

.correct-icon,
.incorrect-icon {
  height: 25px;
}

.incorrect-border {
  border: 1.5px solid (212, 17, 17);
  background-color: rgb(252, 252, 252);
  color: rgb(212, 17, 17);
}

.correct-number {
  background-color: rgb(0, 224, 56);
}

.incorrect-number {
  background-color: rgb(212, 17, 17);
}

.correct-border {
  border: 1.5px solid rgb(0, 224, 56);
  background-color: rgb(252, 252, 252);
  color: rgb(0, 224, 56);
}

.correct-text {
  color: rgb(0, 224, 56);
  font-weight: 600;
  font-size: 0.9em;
}

.incorrect-text {
  color: rgb(212, 17, 17);
  font-weight: 600;
  font-size: 0.9em;
}